<!DOCTYPE html>
<html lang="fa-IR" dir="rtl" class="no-js" prefix="og: http://ogp.me/ns#">

<head>
    @if (ViewBag.SeoData != null)
    {
        @Html.Raw(ViewBag.SeoData)
    }
    <link href="~/Content/css/favicon.ico" rel="icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="bx0slj2qoLzwOoYiXVJMhRsaL8SLdlR6pNoAAo4JwOE" />
    @*<title>@ViewBag.Title</title>*@
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>

<body>
    <div id="homeSectionID"></div>
    <!-- Pre-loader Start -->
    <div class="elegant-preeloader">
        <div class="preloader-spinner"></div>
    </div>
    <!-- Pre-loader End -->
    <!-- Header Start -->
    <!-- Start Hero Area -->
    @{
        var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        if (!(controllerName == "blog" || controllerName == "Blog"))
        {
            <header>
                <!-- Menu Bars -->
                <div class="menu-bars">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- Nav Start -->
                @Html.Partial("~/Views/PartialView/_PartialPageNavMenu.cshtml")
                <div class="hero-area">
                    @Html.Partial("~/Views/PartialView/_PartialPageHeroArea.cshtml")
                </div>
            </header>
        }
        else
        {
            <!-- Menu Bars -->
            <div class="menu-bars">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            @Html.Partial("~/Views/PartialView/_PartialPageNavMenu.cshtml")
        }
    }

    <!-- Header End -->
    @RenderBody()
    <!-- Contact Start -->
    @*@Html.Partial("~/Views/PartialView/_PartialPageContact.cshtml")*@
    <!-- Contact End -->
    <!-- The ScrollToTop Start -->
    <div class="ScrollToTop" style="display: none;">
        <a href="#"><i class="fas fa-angle-up fa-lg"></i></a>
    </div>
    <!-- The ScrollToTop end -->
    <!-- Footer Start-->
    @Html.Partial("~/Views/PartialView/_PartialPageFooter.cshtml")
    <!-- Footer End -->


    @Scripts.Render("~/bundles/js")

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $('body').persiaNumber();
        });

        function ScrollIntoDivByID(IdOfElement) {
            if (document.getElementById(IdOfElement) == null) {
                var url = '/home/index/#' + IdOfElement.toString();
                window.location.href = url;
            } else {
                document.getElementById(IdOfElement).scrollIntoView({ behavior: "smooth" });
            }
        }
    </script>
</body>
</html>
