<!DOCTYPE html>
<html lang="fa-IR" dir="rtl" class="no-js" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@



</head>
<body>
    <div id="home"></div>

    <!-- Pre-loader Start -->
    <div class="elegant-preeloader">
        <div class="preloader-spinner"></div>
    </div>
    <!-- Pre-loader End -->
    <!-- Header Start -->
    <header>
        <!-- Menu Bars -->
        <div class="menu-bars">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- Nav Start -->
        <nav class="navigation">
            <div class="navigation-inner">
                <ul class="main-menu nav navbar-nav">
                    <li class="smooth-scroll active"><a href="#home">خانه</a></li>
                    <li class="smooth-scroll"><a href="#about">درباره من</a></li>
                    <li class="smooth-scroll"><a href="#experiences">تجربیات</a></li>
                    <li class="smooth-scroll"><a href="#services">خدمات</a></li>
                    <li class="smooth-scroll"><a href="#portfolio">نمونه کار</a></li>
                    @*<li class="smooth-scroll"><a href="#testimonial">دیدگاه ها</a></li>*@
                    <li class="smooth-scroll"><a href="#blog">وبلاگ</a></li>
                    <li class="smooth-scroll"><a href="#contact">تماس با من</a></li>
                    <li class="smooth-scroll"><a href="@Url.Action("Register","Account")">ورود به سيستم</a></li>

                </ul>
            </div>
        </nav>
        <!-- Start Hero Area -->
        <div class="hero-area">
            @Html.Partial("~/Views/PartialView/_PartialPageHeroArea.cshtml")
        </div>
    </header>
    <!-- Header End -->
    <!-- About Start -->
    @Html.Partial("~/Views/PartialView/_PartialPageAbout.cshtml")
    <!-- Ends About -->
    <!-- Start Experience -->
    @Html.Partial("~/Views/PartialView/_PartialPageExperience.cshtml")
    <!-- Experience End -->
    <!-- Counter Start -->
    @Html.Partial("~/Views/PartialView/_PartialPageCounter.cshtml")
    <!-- Counter End -->
    <!-- Work Start-->
    @Html.Partial("~/Views/PartialView/_PartialPageStart.cshtml")
    <!-- Work End -->
    <!-- Portfolio Start -->
    @Html.Partial("~/Views/PartialView/_PartialPagePortfolio.cshtml")
    <!-- Portfolio End -->
    <!-- Testimonial Start -->
    @*@Html.Partial("~/Views/PartialView/_PartialPageTestimonial.cshtml")*@
    <!-- Testimonial End -->
    <!-- Blog Start -->
    @Html.Partial("~/Views/PartialView/_PartialPageBlog.cshtml")
    <!-- Blog End -->
    <!-- Media Partner Start -->
    @*@Html.Partial("~/Views/PartialView/_PartialPagePartner.cshtml")*@
    <!-- Media Partner End
    @RenderBody()
    <!-- Contact Start -->
    @Html.Partial("~/Views/PartialView/_PartialPageContact.cshtml")
    <!-- Contact End -->
    <!-- The ScrollToTop Start -->
    <div class="ScrollToTop" style="display: none;">
        <a href="#"><i class="fas fa-angle-up fa-lg"></i></a>
    </div>
    <!-- The ScrollToTop end -->
    <!-- Footer Start-->
    @Html.Partial("~/Views/PartialView/_PartialPageFooter.cshtml")
    <!-- Footer End -->


    @Scripts.Render("~/bundles/js")

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $('body').persiaNumber();
        });
    </script>
</body>
</html>
