@model mbensaeed.Models.PostComment
@using mbensaeed.Helper

    
    <div class="CommentsBox">
        <div class="row">
            @{
                string strSendTime = @Model.SendTime;
                <div class="col-md-3"><h6 class="pull-left"> تاریخ ارسال : @strSendTime &nbsp;@DateConvertor.NumberToDate(@Model.SendDate)  </h6></div>
            }
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <h6>@Model.FullName </h6>
            </div>
        </div>
            <hr />
            <h6>
                @Html.Raw(@Model.Comment)
            </h6>
        </div>

