@model IEnumerable<mbensaeed.ViewModels.vm_AllPost>
@using mbensaeed.Helper
@{
    ViewBag.Title = "ContentDetail";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
    var PostDetails = Model.FirstOrDefault();
    var strTags = (string)PostDetails.Labels;
    string[] PostTags = HelpOperation.SplitString(strTags).ToArray();
}
<br />
<br />
<section class="section-padding" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Single Blog Post -->
                <div class="single-blog-post">
                    <!-- Blog Box Background -->
                    <style>
                    .blog-box-bg-Cur{
                        background-image:url("@PostDetails.ImageUrl");
                    }
                    </style>
                    <div class="blog-box-bg blog-box-bg-Cur">
                        @*<img src="@Url.Content(item.ImageUrl)" alt="" style="height:310px;width:290px" />*@
                    </div>

                    <!-- Blog Content Box -->
                    <div class="blog-content-box">
                        <div class="blog-meta">
                            <p>انتشار @DateConvertor.NumberToDate(@PostDetails.PostDate) <a href="#"></a></p>
                            <span><a href="#"><i class="fas fa-eye"></i> @PostDetails.ViewCount</a></span>
                            @*<span><a href="#"><i class="fas fa-comments"></i> ۱۹</a></span>*@
                            @* <span><a href="#"><i class="fas fa-heart"></i> @PostDetails.LikeCount</a></span>*@
                            <input type="hidden" id="CurrentPostID" value="@PostDetails.PostID" />
                            @{
                                <span><a href="#"><i class="fas fa-heart"></i> @PostDetails.LikeCount</a></span>
                            }
                        </div>
                        <div class="blog-content">
                            <div class="row">

                                <div class="col-md-1">
                                    @{
                                        if (ViewBag.BeforeLiked == true)
                                        {
                                            <button id="HeartID" onclick="LikeControl()" type="button" class="btn btn-primary btn-sm pull-left">
                                                پسنديدم &nbsp; <span class="fas fa-heart"></span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button id="HeartID" onclick="LikeControl()" type="button" class="btn btn-default btn-sm pull-left" style="margin-top:10px;">
                                                پسنديدم &nbsp; <span class="fas fa-heart"></span>
                                            </button>
                                        }
                                    }
                                </div>
                                <input hidden id="CurrentPostID" value="@PostDetails.PostID" />
                                <div class="col-md-11">
                                    <h5>
                                        @PostDetails.Title
                                    </h5>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        @PostDetails.Content
                                    </p>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-8">
                                </div>
                                <div class="col-md-4">
                                    <h6>دسته بندی :   <a href="@Url.Action("Index", "Blog", new {@Page=1, @Category = @PostDetails.Category })"><span class="badge">@PostDetails.Category</span></a></h6>
                                </div>

                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-8">
                                </div>
                                <div class="col-md-4">
                                    <h6>
                                        برچسب ها :
                                        @{
                                            foreach (var item in PostTags)
                                            {
                                                <a href="@Url.Action("Index", "Blog", new {@Page=1, @tag = @item })">
                                                    <span class="badge">@Html.Raw(@item)</span>
                                                </a>
                                            }
                                        }

                                    </h6>
                                </div>

                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="section-header">
                                        <h2 class="section-title">ارسال دیدگاه</h2>
                                    </div>
                                </div>
                                <br />
                                <div class="row" dir="rtl">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="about-single-item">
                                            <input placeholder="ایمیل" type="text" class="form-control" id="EmailID" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="about-single-item">
                                            <input placeholder="نام و نام خانوادگی" type="text" class="form-control" id="FullNameID" />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="about-single-item"> </div>
                                        <span>پيام</span><textarea rows="3" class="form-control" id="CommentID"></textarea>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <input type="button" id="SubmitButton" class="form-control" value="ثبت پيام" />
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                    </div>
                                    <div class="col-md-2 col-sm-2" id="divCaptchaImageID">
                                        <input type="text" class="form-control" id="CaptchaTextID" />
                                    </div>
                                    <div class="col-md-1 col-sm-1" id="divCaptchaImageID">
                                        <p id="CaptchaImageID">
                                            <img src="/home/ShowCaptchaImage" />
                                        </p>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12  col-sm-12">
                                        <div class="about-single-item">
                                            <h4> نظرات کاربران</h4>
                                            @{
                                                foreach (var item in ViewBag.listPostComment)
                                                {

                                                    <div class="CommentsBox">
                                                        <div class="row">
                                                            <div class="col-md-2"><h6 class="pull-left"> تاریخ ارسال : @item.SendDate</h6></div>
                                                            <div class="col-md-7"></div>
                                                            <div class="col-md-3"><h6>@item.FullName</h6></div>
                                                        </div>
                                                        <hr />
                                                        @item.Comment
                                                    </div>
                                                }
                                            }
                                            <div id="NewComment">
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <a class="blog-btn pull-left" href="@Url.Action("Index","Blog")">بازگشت به آخرين مطالب<i class="fas fa-long-arrow-alt-left"></i></a>
                            <br />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


@section scripts{
    <script type="text/javascript">

        function LoadLastComment(x) {
            $('#NewComment').html(x);
        }

        $("#SubmitButton").click(function () {
            SubmitData();
        });

        function SubmitData() {
            toastr.options.positionClass = "toast-bottom-left";
            var FlagOperation = true;
            var URL = '@Url.Action("AddComment", "Blog")';
            if ($("#CaptchaTextID").val() == null || $("#CaptchaTextID").val() == "" ) {
                toastr.error('لطفاٌ کد امنیتی مورد نظر را وارد نمایید', 'خطا!', { timeOut: 5000 })
                FlagOperation = false;
            }
            if ($("#FullNameID").val() == null || $("#FullNameID").val() == "" || ($("#FullNameID").val()).Length < 3) {
                toastr.error('لطفا نام و نام خانوادگی خود را وارد نمایید', 'خطا!', { timeOut: 5000 })
                FlagOperation = false;
            }
            if ($("#CommentID").val() == null || $("#CommentID").val() == "" || ($("#CommentID").val()).Length < 3) {
                toastr.error('لطفاٌ متن پیام مورد نظر را وارد نمایید', 'خطا!', { timeOut: 5000 })
                FlagOperation = false;
            }
            if (FlagOperation == true) {
                var options = {};
                options.url = URL;
                options.type = "POST";
                options.data = JSON.stringify({
                    PostID: $("#CurrentPostID").val(),
                    Name: $("#FullNameID").val(),
                    Email: $("#EmailID").val(),
                    Message: $("#CommentID").val(),
                    CaptchaText: $("#CaptchaTextID").val()
                });
                options.datatype = "json";
                options.contentType = "application/json";
                options.success = function (x) {
                    if (x === "CaptchaTextMistake") {
                        RemoveCaptchaImageTag();
                        AddCaptchaImageTag();
                    }
                    else
                    {
                        LoadLastComment(x)
                    }
                    //else if (x === "OK") {

                        //$('#EditEntityModal').modal('hide');
                        //var dialog = bootbox.dialog({
                        //    message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i> با تشکر، پیام شما با موفقیت ارسال شد.</p>',
                        //    closeButton: false
                        //});
                        //toastr.success('با تشکر، دیدگاه شما با موفقیت ارسال شد.', 'ارسال پیام', { timeOut: 6000 })
                        //setTimeout(function () {
                            //dialog.modal('hide');
                         //   location.reload();
                        //}, 3000)
                    }
                };
                $.ajax(options);
            }

        function RemoveCaptchaImageTag() {
            alert("RemoveCaptchaImageTag");
            var elm1 = document.getElementById('CaptchaImageID');
            elm1.parentNode.removeChild(elm1);
            var elm2 = document.getElementById('CaptchaTextID');
            elm2.parentNode.removeChild(elm2);
        }
        function AddCaptchaImageTag() {
            CreatePElement();
            alert("AddCaptchaImageTag");
            var tag =" <img src="+"/home/ShowCaptchaImage"+ "/> " ;
            $("#CaptchaImageID").append(tag);
            CreateInputElement();
        }
           function CreatePElement() {
            var CurrentImg = document.createElement("p");
            CurrentImg.id = "CaptchaImageID";
            CurrentImg.alt = "";
            CurrentImg.className = "Fixedheight";
            CurrentImg.width = 300;
            CurrentImg.height = 250;
            $("#divCaptchaImageID").append(CurrentImg);
        }
         function CreateInputElement() {
            var CurrentInput = document.createElement("Input");
            CurrentInput.id = "CaptchaTextID";
            CurrentInput.alt = "";
             CurrentInput.className = "form-control";
             CurrentInput.type="Text";
            CurrentInput.width = 300;
            CurrentInput.height = 250;
            $("#CaptchaImageID").append(CurrentInput);
        }


          //$(window).scroll(function () {
          //      if ($(window).scrollTop() == $(document).height() - $(window).height()) {
          //          GetMoreComments();
          //      }
          //  });
          //function GetMoreComments() {}

       function LikeControl() {
            var csName = document.getElementById("HeartID").className;
            //Like
            if (csName == "btn btn-primary btn-sm pull-left") {
                document.getElementById('HeartID').className = 'btn btn-default btn-sm pull-left';
               DisLikeLog();
            }
            //Unlike
            else if (csName == "btn btn-default btn-sm pull-left") {
                document.getElementById('HeartID').className = 'btn btn-primary btn-sm pull-left';
                 LikeLog();
            }
        }
        function LikeLog() {
            var options = {};
            options.url = "@Url.Action("ViewAndLikeLog", "Blog")";
            options.type = "POST";
            options.data = JSON.stringify({
                PostID: $('#CurrentPostID').val(),
                ActionTypeID: 2 //LikeCodeLog
            });
            options.datatype = "json";
            options.contentType = "application/json";
            $.ajax(options);
        }
        function DisLikeLog() {
            var options = {};
            options.url = "@Url.Action("ViewAndLikeLog", "Blog")";
            options.type = "POST";
            options.data = JSON.stringify({
                PostID: $('#CurrentPostID').val(),
                ActionTypeID: 3 //DisLikeCodeLog
            });
            options.datatype = "json";
            options.contentType = "application/json";
            $.ajax(options);
        }
    </script>
}