@model IEnumerable<mbensaeed.ViewModels.vm_AllPost>
@using mbensaeed.Helper
@{
    ViewBag.Title = "ContentDetail";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
    var PostDetails = Model.FirstOrDefault();

}
<br />
<br />
<section class="section-padding" id="blog">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <!-- Single Blog Post -->
                <div class="single-blog-post">
                    <!-- Blog Box Background -->
                    <style>
                    .blog-box-bg-13{
                        background-image:  url("@PostDetails.ImageUrl");
                    }
                    </style>
                    <div class="blog-box-bg blog-box-bg-13">
                        @*<img src="@Url.Content(item.ImageUrl)" alt="" style="height:310px;width:290px" />*@
                    </div>

                    <!-- Blog Content Box -->
                    <div class="blog-content-box">
                        <div class="blog-meta">
                            <p>انتشار @DateConvertor.NumberToDate(@PostDetails.PostDate) <a href="#">محمد بن سعيد</a></p>
                            <span><a href="#"><i class="fas fa-eye"></i> @PostDetails.ViewCount</a></span>
                            <span><a href="#"><i class="fas fa-comments"></i> ۱۹</a></span>
                            <span><a href="#"><i class="fas fa-heart"></i> @PostDetails.LikeCount</a></span>
                        </div>
                        <div class="blog-content">
                            <h5>
                                @PostDetails.Title
                            </h5>
                            <p>
                                @PostDetails.Content
                            </p>
                            <br />
                            <br />
                            <a class="blog-btn pull-left" href="@Url.Action("Index","Blog")">بازگشت به آخرين مطالب<i class="fas fa-long-arrow-alt-left"></i></a>
                            <br />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
</section>