@model IEnumerable<mbensaeed.Models.PostComment>

@{
    ViewBag.Title = "ليست نظرات كاربران";
    Layout = "~/Areas/ControlPanel/Views/Shared/_LayoutPageMain.cshtml";
    var ListCommnet = Model.ToList();
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">نظرات كاربران</h3>
        </div>
        @*<div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">مديريت وبلاگ</a></li>
                    <li class="breadcrumb-item">پست هاي وبلاگ</li>
                    <li class="breadcrumb-item active">ايجاد پست جديد</li>
                </ol>
            </div>*@
        <div class="">
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">جدول داده ها</h4>
                        <h6 class="card-subtitle">مثال جدول داده</h6>
                        <div class="table-responsive m-t-40">
                            <div id="myTable_wrapper" class="dataTables_wrapper no-footer">
                                <div class="dataTables_length" id="myTable_length"><label>نمایش <select name="myTable_length" aria-controls="myTable" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> مورد</label></div><div id="myTable_filter" class="dataTables_filter"><label>جستجو:<input type="search" class="" placeholder="" aria-controls="myTable"></label></div><table id="myTable" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="myTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 93.883px;" aria-sort="ascending" aria-label="نام: activate to sort column descending">نام</th>
                                            <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 217.483px;" aria-label="ديدگاه: activate to sort column ascending">ديدگاه</th>
                                            @*<th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 151.983px;" aria-label="دفتر(محل کار): activate to sort column ascending">دفتر(محل کار)</th>*@
                                            @*<th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 64.1833px;" aria-label="سن: activate to sort column ascending">سن</th>*@
                                            <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 132.75px;" aria-label="تاریخ ثبت: activate to sort column ascending">تاریخ ثبت</th>
                                            <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 117.717px;" aria-label="شناسه پست: activate to sort column ascending">وضعيت</th>
                                            <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 117.717px;" aria-label="وضعيت ديدگاه: activate to sort column ascending">جزئيات</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ foreach (var item in ListCommnet)
                                            {
                                                var StrDateTime = @item.SendDate + "-" + @item.SendTime;
                                                var strState = item.Is_Active == "1" ? "فعال" : "غير فعال";
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">@item.FullName</td>
                                                    <td>@item.Comment</td>

                                                    <td>@StrDateTime</td>
                                                    <td>
                                                        @strState
                                                    </td>
                                                    <td align="center">
                                                        @{
                                                            var AssignLoadFuntionValue = "LoadEntity('" + item.ID + "')";
                                                            if (item.Is_Read != "1")
                                                            {
                                                                <button class="btn btn-danger btn-xs" onclick="@AssignLoadFuntionValue"><i class="fa fa-pencil text-inverse m-r-10" ></i></button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-default btn-xs" onclick="@AssignLoadFuntionValue"><i class="fa fa-pencil text-inverse m-r-10" ></i></button>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table><div class="dataTables_info" id="myTable_info" role="status" aria-live="polite">نمایش 1 تا 10 از 61 مورد</div><div class="dataTables_paginate paging_simple_numbers" id="myTable_paginate"><a class="paginate_button previous disabled" aria-controls="myTable" data-dt-idx="0" tabindex="0" id="myTable_previous">قبلی</a><span><a class="paginate_button current" aria-controls="myTable" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="myTable" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="myTable" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="myTable" data-dt-idx="4" tabindex="0">4</a><a class="paginate_button " aria-controls="myTable" data-dt-idx="5" tabindex="0">5</a><a class="paginate_button " aria-controls="myTable" data-dt-idx="6" tabindex="0">6</a><a class="paginate_button " aria-controls="myTable" data-dt-idx="7" tabindex="0">7</a></span><a class="paginate_button next" aria-controls="myTable" data-dt-idx="8" tabindex="0" id="myTable_next">بعدی</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="CurrentCommentID" />
<input type="hidden" id="CurrentCommentStateReadID" />
<div id="EditEntityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ديدگاه</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="control-label">
                            @Html.DisplayNameFor(x => x.FullName)
                        </div>
                        @Html.TextBoxFor(x => x.FirstOrDefault().FullName, new { @class = "form-control", id = "FullNameID" })
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            @Html.DisplayNameFor(x => x.Comment)
                        </div>
                        @Html.TextAreaFor(x => x.FirstOrDefault().Comment, new { @class = "form-control", id = "CommentID" })
                    </div>

                    <div class="form-group">
                        @*<div class="control-label">
                                @Html.DisplayNameFor(x => x.Is_Active)
                            </div>*@

                        <h4 class="card-title">وضعیت نمایش ديدگاه</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="switch">
                                            <label>
                                                نمايش
                                                <input type="checkbox" id="StatusActive_ID" name="OptRadioActiveStateID" checked="" >

                                                <span class="lever"></span>
                                                عدم نمايش
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                <button id="submitButton" type="submit" class="btn btn-danger waves-effect waves-light">ذخیره تغییرات</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        toastr.options.positionClass = "toast-bottom-left";
        }
        );
          $("#StatusActive_ID").on('change', function (){
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
                //alert($(this).val());
            }
            else {
               $(this).attr('value', 'false');
               //alert($(this).val());
            }
        });
        function LoadEntity(id) {
            //$('#EditEntityModal').modal();
            $("#CurrentCommentID").val(id);
            $("#CurrentCommentStateReadID").val(null);
            var options = {};
            options.url = "@Url.Action("GetCommentsDetails", "BlogManage" , new { Area ="ControlPanel"})";
            options.type = "POST";
            options.data = JSON.stringify({ id: id });
            options.datatype = "json";
            options.contentType = "application/json";
            options.success = function (x) {
                $("#FullNameID").val(x.FullName);
                $("#CommentID").val(x.Comment);
                $("#CurrentCommentStateReadID").val(x.Is_Read);

                if (x.Is_Active === "1") {
                    document.getElementById("StatusActive_ID").checked = true;
                    document.getElementById("StatusActive_ID").val = true;
                } else {
                    document.getElementById("StatusActive_ID").checked = false;
                    document.getElementById("StatusActive_ID").val = false;
                }
                $('#EditEntityModal').modal();
            };
            $.ajax(options);
        }
        $('body').on('hidden.bs.modal', '.modal', function () {
            if ($("#CurrentCommentStateReadID").val() != "1")
            {
                ReadComment($("#CurrentCommentID").val());
            }

        })
        function ReadComment(id) {
            var options = {};
            options.url = "@Url.Action("ReadComment", "BlogManage", new { area ="ControlPanel"})";
            options.type = "POST";
            options.data = JSON.stringify({
                id: id
            });
            options.datatype = "json";
            options.contentType = "application/json";
            options.success = function (x) {
                //if (x === "OK") {
                //    location.reload();
                //}
            };
            $.ajax(options);
        }
        function EditComment(ID, FullName, Comment, Is_Active) {
            //toastr.options.positionClass = "toast-bottom-left";
            var options = {};
            options.url = "@Url.Action("EditComment", "BlogManage", new { area ="ControlPanel"})";
            options.type = "POST";
            options.data = JSON.stringify({
                ID:ID,
                FullName:FullName,
                Comment:Comment,
                Is_Active:Is_Active
            });
            options.datatype = "json";
            options.contentType = "application/json";
            options.success = function (x) {
                $('#EditEntityModal').modal('hide');
                if (x === "OK") {
                        toastr.success('ديدگاه با موفقیت ويرايش گرديد.', 'ويرايش ديدگاه', { timeOut: 6000 })
                        setTimeout(function () {
                        dialog.modal('hide');
                           // location.reload();
                        }, 3000)
                }
            };
            $.ajax(options);
        }@**@
        $("#submitButton")
            .click(function () {
                var ID = $("#CurrentCommentID").val();
                var FullName=$("#FullNameID").val();
                var Comment = $("#CommentID").val();
                var Is_Active = "1";
                if (document.getElementById("StatusActive_ID").checked == false)
                    Is_Active = "0";

                EditComment(ID, FullName, Comment,Is_Active);
            });
    </script>
}